.contact-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block: 20px;
    gap: 20px;
    position: relative;
    @include for-mobile-layout {
        flex-direction: column;
        gap: 10px;
    }
    > section {
        @include flex-center;
        gap: 10px;
    }
}
