.contact-index{
    .add-contact {
        z-index: 5;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0 1rem 1rem 0;
        font-size: 1.2em;
        padding: 0.5rem;
        width: em(30px);
        height: em(30px);
        @include box-shadow;
        @include flex-center;
        background: linear-gradient(90deg, $primary-color 0%, $secondary-color 100%);
        border-radius: 50%;
        &:hover {
            color: $accent-color;
        }
    }
}