.signup {
     @include flex-center;
     margin-block-start: em(20px);
     form {
          display: flex;
          flex-direction: column;
          width: em(300px);
          padding: 30px;
          background-color: $card-background-color;
          border-radius: 5px;
          @include box-shadow;

          label {
               margin-bottom: 5px;
               font-family: $font-family;
               font-weight: bold;
               color: $text-light-color;
          }

          input {
               margin-bottom: 15px;
               padding: 8px;
               font-family: $font-family;
               font-size: $font-size-base;
               color: $text-color;
               background-color: $background-color;
               border: 1px solid $border-color;
               border-radius: 3px;

               &:focus {
                    outline: none;
                    border-color: $accent-color;
               }
          }

          button {
               padding: 10px;
               font-family: $font-family;
               font-size: $font-size-base;
               font-weight: bold;
               color: $text-color;
               background-color: $primary-color;
               border: none;
               border-radius: 3px;
               cursor: pointer;
               transition: background-color 0.2s ease;

               &:hover {
                    background-color: $secondary-color;
               }
          }
     }
}

